<!doctype html>
<html>
<head>
  <title>Game Form</title>
</head>
<body>
    Provide us with the following:
    <form action="/madlibs">
        <p><label>Person: <input type="text" name="person"></label></p>
    <br>
    <label for="color">Color:</label>
    <select name="color" id="color">
        <option value="blue">Blue</option>
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="purple">Purple</option>
    </select>
    <br>
    <label>Noun <input type="text" id="noun" name="noun"></label>
    <br>
    <label>Adjective <input type="text" id="adjective" name="adjective"></label>
    <br>
    
    <input type="submit">
</body>
</html>